###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Joc tp/Logs/AssetImportWorker0-prev.log
Joc tp/Logs/AssetImportWorker0.log
Joc tp/Logs/AssetImportWorker1-prev.log
Joc tp/Logs/AssetImportWorker1.log
Joc tp/Logs/AssetImportWorker2-prev.log
Joc tp/Logs/AssetImportWorker2.log
Joc tp/Logs/AssetImportWorker3-prev.log
Joc tp/Logs/AssetImportWorker3.log
Joc tp/Logs/AssetImportWorker4-prev.log
Joc tp/Logs/AssetImportWorker4.log
Joc tp/Logs/AssetImportWorker5-prev.log
Joc tp/Logs/AssetImportWorker5.log
Joc tp/Logs/AssetImportWorker6-prev.log
Joc tp/Logs/AssetImportWorker6.log
Joc tp/Logs/AssetImportWorker7-prev.log
Joc tp/Logs/AssetImportWorker7.log
Joc tp/Logs/AssetImportWorker8-prev.log
Joc tp/Logs/AssetImportWorker8.log
Joc tp/Logs/shadercompiler-AssetImportWorker0.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Joc tp/UserSettings/Layouts/default-2021.dwlt
Joc tp/Logs/AssetImportWorker0.log
Joc tp/Logs/AssetImportWorker1.log
Joc tp/Logs/AssetImportWorker2.log
Joc tp/Logs/AssetImportWorker3.log
Joc tp/Logs/AssetImportWorker4.log
Joc tp/Logs/AssetImportWorker5.log
Joc tp/Logs/AssetImportWorker6.log
Joc tp/Logs/AssetImportWorker7.log
Joc tp/Logs/AssetImportWorker8.log
Joc tp/Logs/shadercompiler-AssetImportWorker0.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Joc tp/UserSettings/Layouts/default-2021.dwlt
Joc tp/Logs/AssetImportWorker0.log
Joc tp/Logs/AssetImportWorker1.log
Joc tp/Logs/AssetImportWorker2.log
Joc tp/Logs/AssetImportWorker3.log
Joc tp/Logs/AssetImportWorker4.log
Joc tp/Logs/AssetImportWorker5.log
Joc tp/Logs/AssetImportWorker6.log
Joc tp/Logs/AssetImportWorker7.log
Joc tp/Logs/AssetImportWorker8.log
Joc tp/Logs/shadercompiler-AssetImportWorker0.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Joc tp/UserSettings/Layouts/default-2021.dwlt
Joc tp/Logs/AssetImportWorker0.log
Joc tp/Logs/AssetImportWorker1.log
Joc tp/Logs/AssetImportWorker2.log
Joc tp/Logs/AssetImportWorker3.log
Joc tp/Logs/AssetImportWorker4.log
Joc tp/Logs/AssetImportWorker5.log
Joc tp/Logs/AssetImportWorker6.log
Joc tp/Logs/AssetImportWorker7.log
Joc tp/Logs/AssetImportWorker8.log
Joc tp/Logs/shadercompiler-AssetImportWorker0.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Joc tp/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Joc tp/UserSettings/Layouts/default-2021.dwlt
